<!doctype html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="{{ css_path }}" />
    </head>
    <body>
        <div id="app"></div>
        <script src="{{ app_path }}"></script>
    </body>
</html>
